<template>
  <div class="home">
    <Organizations/>
  </div>
</template>

<script>
import Organizations from "@/components/Organizations.vue";

export default {
  name: "Organization",
  components: {
    Organizations
  }
};
</script>
