<template>
  <div class="hello">
    <h1>Organizations</h1>
    <section>
      <div v-if="loading">
        <h1>Loading...</h1>
      </div>
      <div v-else>
        <header>
          <input
            type="text"
            autofocus
            autocomplete="off"
            placeholder="Name?"
            v-model="newOrganizationName"
            @keyup.enter="addOrganization"
          >
        </header>
        <section v-show="organizations.length">
          <li
            v-for="organization in organizations"
            :key="organization.id"
          >{{ organization.id }} - {{ organization.name }}</li>
        </section>
      </div>
    </section>
  </div>
</template>

<script>
import api from "../Api.js";

export default {
  name: "Organizations",
  // initial component state
  data: () => ({
    loading: true,
    organizations: [],
    newOrganizationName: ""
  }),
  mounted() {
    api
      .getAll()
      .then(response => {
        console.log(`Data loaded: ${response.data}`);
        this.organizations = response.data;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => (this.loading = false));
  },
  // methods that implement data logic.
  // note there's no DOM manipulation here at all.
  methods: {
    addOrganization: function() {
      var name = this.newOrganizationName && this.newOrganizationName.trim();
      if (!name) {
        return;
      }

      api.createNew(name).then(response => {
        console.log("new item created");
        console.log(response.data);
        this.organizations.push({
          id: response.data.id,
          name
        });
      });

      this.newOrganizationName = "";
    }
  }
};
</script>

